# created by virtualenv automatically
.idea/
venv/
.venv/
__pycache__/
*.iml

# Игнорируем датасеты
dataset/pyg_data/
dataset/pubmed/
dataset/cora/
dataset/pyg_data
*.tab
*.txt
!requirements.txt
*.csv
*.h5
*.pkl